@font-face {
	font-family: Rubik, sans-serif;
	src: url(fonts/Rubik-Regular.ttf);
	font-style: normal; /* 400 */
	font-weight: normal;
}
@font-face {
	font-family: Rubik, sans-serif;
	src: url(fonts/Rubik-Medium.ttf);
	font-style: normal;
	font-weight: 500; /* 500 */
}
@font-face {
	font-family: Rubik, sans-serif;
	src: url(fonts/Rubik-Bold.ttf);
	font-style: normal;
	font-weight: bold; /* 600 */
}
